# Logs
logs
*.log
npm-debug.log*

# Dependências do Node
node_modules/

# Builds e Distribuição
dist/
build/

# IDEs e Editores
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Variáveis de Ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
